@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');

:root {
  --color: #2D3748;
  --color1: #1A202C;
  --color2: #312000;
  --color3: #C4C4C4;
  --color4: #4A5568;
  --color5: #1890FF;
  --color6: #212121;
  --color7: #666666;
  --color8: #0ACF83;
  --color9: #e8f4ff;
  --bg1: #F0F2F5;
  --bg2: #FFFFFF;
  --bg3: #F5F5F5;
  --bg4: #DFDFDF;
  --bg5: #112032;
  --bg6: #232E42;
  --bcolor1: #F0F2F5;
  --bcolor2: #E8E8E8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--bg1);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--color5);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

textarea {
  resize: none !important;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #D9DEDD;
  border-radius: 10px;
}